<!-- header image -->
<div class="p-5 text-center bg-image pb-5">
    <div class="pt-5">
        <div class="d-flex justify-content-center align-items-center pt-5">
            <div class="header-text pt-4 pb-2">
                <div class="text-white px-3">
                    <h1 class="text-uppercase mb-2 pb-1">Festic music festival 2022</h1>
                    <h4 class="mb-2 pb-1 text-uppercase">July 12 & 13 - AMSTERDAM </h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button">Order tickets</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Introduction -->
<div class="container pt-5">
    <div class="row">
        <div class="col text-center pb-4">
            <h2 class="text-uppercase px-5 pb-3 text-white">Join us at <span class="text-yellow">festic festival</span>
                full magic!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <hr class="center-yellow-line">
            <h3 class="text-white pt-2 pb-2">Join us for two days full of magic in July 2022!</h3>
            <h4 class="text-white pb-2">
                We will be back and better than ever,
                with 300+ artists, 22 stage hosts, an enormous campsite and
                numerous creative experiences in our Kingdom of the Weird Party Animals.
            </h4>
            <h6 class="text-yellow pb-3">
                festic. is proudly powered by Juan Stelling.
            </h6>
            <hr class="center-yellow-line">
        </div>
    </div>
</div>

<!-- Mobile/tablet version -->
<div class="d-block d-md-block d-lg-none d-xl-none">
    <div class="row">
        <div class="col-12 py-3 text-center">
            <img src="https://images.pexels.com/photos/1120162/pexels-photo-1120162.jpeg?cs=srgb&dl=pexels-annam-w-1120162.jpg&fm=jpg"
                class="img-fluid" alt="festival00">
        </div>
        <div class="col-12 py-3 px-5  text-center">
            <h6 class="text-uppercase text-white">festic.</h6>
            <h3 class="text-uppercase text-white">About <span class="text-yellow">us</span></h3>
            <p class="text-white about-padding-r">
                Codevice Live features virtual meetups, hands-on workshops, keynotes, live coding, and Q&A's.
            </p>
            <p class="text-white">
                Together we are Festic. The leading music festival in The Netherlands. Year after year,
                we reunite to celebrate our friendship and love for music. In between sparkling ponds,
                rivers, and forestry hills of the Floriade terrain near Amsterdam, we welcome more than 100.000
                fellow festival friends from over 100 nationalities.
            </p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 py-3 text-center">
            <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?cs=srgb&dl=pexels-wendy-wei-1190297.jpg&fm=jpg"
                class="img-fluid" alt="festival01">
        </div>
        <div class="col-12 py-3 pb-5 px-5 ">
            <h3 class="text-uppercase text-white text-center pt-5">Covering <span class="text-yellow">the full</span>
                spectrum of music.</h3>
            <h6 class="text-white text-center">
                Musical diversity is deeply rooted in our <span class="text-yellow">DNA.</span>
            </h6>
            <p class="text-white text-center">
                More than 300 artists perform for 22 Stage hosts, covering all
                genres within the spectrum of electronic music: from House, Big Room,
                Bass, Techno, Deep-House, Trance, Trap, and Minimal to Hardstyle, Hardcore,
                RnB, and Hip Hop. Our handcrafted stages range from outdoor dance floors to massive
                tents filled with LED screens, laser shows, and the world's most advanced sound systems.
            </p>
        </div>
    </div>
</div>

<!-- Desktop version | About -->
<div class="d-none d-md-none d-lg-block d-xl-block pb-5">
    <div class="row pt-4 px-5 pb-5">
        <div class="col text-end pr-0">
            <img src="https://images.pexels.com/photos/1120162/pexels-photo-1120162.jpeg?cs=srgb&dl=pexels-annam-w-1120162.jpg&fm=jpg"
                class="img-fluid" alt="festival00">
        </div>
        <div class="col pt-5 pr-5">
            <h6 class="text-uppercase text-yellow">festic.</h6>
            <h3 class="text-uppercase text-white">About <span class="text-yellow">us</span></h3>
            <p class="text-white about-padding-r">
                We are a colourful collaboration of visitors, artists, DJs and creatives.
            </p>
            <p class="text-white">
                Together we are Festic. The leading music festival in The Netherlands. Year after year,
                we reunite to celebrate our friendship and love for music. In between sparkling ponds,
                rivers, and forestry hills of the Floriade terrain near Amsterdam, we welcome more than 100.000
                fellow festival friends from over 100 nationalities.
            </p>
        </div>
    </div>
    <div class="row pb-5 px-5 pt-5">
        <div class="col pt-2 pr-0 pl-5">
            <h3 class="text-uppercase text-white text-right pt-5">Covering <span class="text-yellow">the full</span>
                spectrum of music.</h3>
            <h6 class="text-white text-right pb-5">
                Musical diversity is deeply rooted in our <span class="text-yellow">DNA.</span>
            </h6>
            <p class="text-white text-right">
                More than 300 artists perform for 22 Stage hosts, covering all
                genres within the spectrum of electronic music: from House, Big Room,
                Bass, Techno, Deep-House, Trance, Trap, and Minimal to Hardstyle, Hardcore,
                RnB, and Hip Hop. Our handcrafted stages range from outdoor dance floors to massive
                tents filled with LED screens, laser shows, and the world's most advanced sound systems.
            </p>
        </div>
        <div class="col">
            <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?cs=srgb&dl=pexels-wendy-wei-1190297.jpg&fm=jpg"
                class="img-fluid" alt="festival01">
        </div>
    </div>
</div>