<div class="container">
  <div class="row pt-5">
    <h2 class="text-uppercase text-yellow text-center">Update DJ</h2>
  </div>
  <div class="row pt-5">
    <div class="submit-form pb-5 ps-5">
      <div *ngIf="!updated">
        <div *ngIf="currentDj.djId" class="edit-form">
          <form>
            <div class="form-group pb-2">
              <label class="text-yellow pb-1" for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="currentDj.djName"
                #name="ngModel" placeholder="Name" required />
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
            </div>
            <div class="form-group pb-2">
              <label class="text-yellow pb-1" for="bio">Bio</label>
              <input type="text" class="form-control" id="bio" name="bio" [(ngModel)]="currentDj.djBio"
                placeholder="Bio" />
            </div>
            <div class="form-group pb-2">
              <label class="text-yellow pb-1" for="genre">Genre</label>
              <input type="text" class="form-control" id="genre" name="genre" [(ngModel)]="currentDj.djGenre"
                placeholder="Genre" />
            </div>
          </form>
          <button class="btn btn-warning text-uppercase" (click)="updateDjId()">Update</button>
          <a class="btn btn-warning text-uppercase" [routerLink]="['/admin']">Cancel</a>
          <div *ngIf="!currentDj.djId">
            <br />
            <p class="text-white">Cannot access this dj...</p>
          </div>
        </div>
      </div>
      <div *ngIf="updated">
        <h3 class="text-white">DJ is succesfully updated!</h3>
        <a class="btn btn-warning text-uppercase" [routerLink]="['/admin']">Go back to admin</a>
      </div>
    </div>
  </div>
</div>